@charset "UTF-8";

:root {
    --yinmnblue: #384E77;
    --carolinablue: #86BBD8;
    --columbiablue: #BAD7F2;
    --tropicalindigo: #907AD6;
    --eminence: #5D277A;
    --preto: #000000;
    --branco: #ffffff;
}

p{
    background-color: #384E77;
}

h1{

    color: #384E77;
}

h2{

    color: #384E77;
}

h3{

    color: #384E77;
}