@charset "UTF-8";

:root {
    --prussianblue: #18314F;
    --yinmnblue: #384E77;
    --lightblue: #A8D0DB;
    --carolinablue: #86BBD8;
    --rosequartz: #C1A5A9;
    --preto: #000000;
    --branco: #ffffff;
}